.barra-pesquisa {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.barra-pesquisa:focus {
  border-color: #1c1c1c !important;
  box-shadow: 0 0 0 0.15rem rgba(43, 44, 44, 0.25) !important;
}

.btn-barra-pesquisa {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.icone-header {
  transition: transform 0.2s ease;
}

.icone-header:hover {
  transform: scale(1.14);
}

.btn-outline-dark {
  color: #1c1c1c;
  border-color: #1c1c1c;
}

.btn-outline-dark:hover {
  color: #ffffff;
  background-color: #1c1c1c;
}

.list-group .item:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list-group .item:nth-child(3) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item:hover .list-group-item {
  text-decoration: underline;
  text-decoration-color: #1c1c1c;
}

@media (max-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
