.categorias {
  background-color: #ffb4a2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 130px;
}

.categorias__container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 25px 0 15px 0;
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: #f1a795 transparent; /* Cor da barra de rolagem */
}

.categorias__container::-webkit-scrollbar {
  height: 5px;
}

.categorias__container::-webkit-scrollbar-track {
  background: transparent;
}

.categorias__container::-webkit-scrollbar-thumb {
  background-color: #f1a795;
  border-radius: 10px;
}

.categorias__menu {
  display: flex;
  gap: 50px;
}

.categoria {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.categoria__texto {
  font-weight: bold;
  font-size: 1.2rem;
}

.categoria__icone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
