.footer-icon {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.2s ease;
  color: #1c1c1c;
}

.footer-icon:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
