.tabela-caracteristicas {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.linha-par {
  background-color: #ffe5d9 !important;
}

.coluna-esquerda {
  width: 50%;
  border-right: 1px solid #ccc;
}

.coluna {
  text-align: center;
}

.table {
  --bs-table-bg: none;
}
