.menu-link {
  padding: 10px 15px;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menu-link:hover {
  background-color: #f0f0f0;
}

.menu-link.ativo {
  background-color: #ffe4e1;
  color: #e36c6c;
  font-weight: bold;
}
