/* ---------- RESET CSS ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1c1c1c;
}

html {
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  height: 100%;
  background-color: #f5fffa;
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* ---------- RESET CSS ---------- */

/* ---------- Gerais ---------- */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
/* ---------- Gerais ---------- */
